templates/contact.jade
div.content
   div.text-center.margin-bottom-25
      h3 Contact Us
   div.contact
      div.form-group
         div.control-label
            label(for=name) Name
         input.form-control(type=text, name=name)
      div.form-group
         div.control-label
            label(for=email) Email Address
         input.form-control(type=text, name=email)
      div.form-group
         div.control-label
            label(for=subject) Subject
         input.form-control(type=text, name=subject)
      div.form-group
         div.control-label
            label(for=message) Message
         input.form-control(type=text, name=message)
      div.text-center
         button.btn.btn-default.btn-success.submit-button(name=submit) Submit

templates/contact.html
<div class="content"><div class="text-center margin-bottom-25"><h3>Contact Us</h3></div><div class="contact"><div class="form-group"><div class="control-label"><label>Name</label></div><input class="form-control"/></div><div class="form-group"><div class="control-label"><label>Email Address</label></div><input class="form-control"/></div><div class="form-group"><div class="control-label"><label>Subject</label></div><input class="form-control"/></div><div class="form-group"><div class="control-label"><label>Message</label></div><input class="form-control"/></div><div class="text-center"><button class="btn btn-default btn-success submit-button">Submit</button></div></div></div>
