templates/index.html
<div class="content"><div class="slideshowhomepage"></div><div class="flex-container text-justify"><h3>About East Hill</h3><p>The East Hill Church of Christ in Pensacola, Florida is composed of a group of Christians who are striving to practice New Testament Christianity. We accept the Bible as the Word of God, the New Testament as our sole authority and Jesus Christ as our Lord and Savior.</p><p>This church recognizes Jesus Christ as its head, and is independent of other churches. Our evangelistic work involves teaching efforts in the USA and in foreign countries.</p><p>We seek to live daily as Jesus taught and to be an influence for good in our various community activities. If you are interested in learning and doing the will of God, we think you would enjoy visiting with us. We invite you to be our guest at your earliest opportunity.</p></div><div class="flex-container"><h3>When We Meet</h3><table class="table table-bordered"><tr><td>Sunday Bible Classes</td><td>10:00 A.M. (Classes for every age group, including children)</td></tr><tr><td>Sunday Morning Worship</td><td>11:00 A.M. (During these services we sing songs of praise to God, observe the Lord's Supper, and return a portion of our monetary blessings to the Lord to support)</td></tr><tr><td>Sunday Evening Worship</td><td>5:00 P.M. (The work of the church, pray and hear a sermon from the Bible.)</td></tr><tr><td>Wednesday Evening Bible Study</td><td>7:00 P.M. (Classes for every age group, including children)</td></tr></table></div><div class="flex-container"><h3>Updates</h3><p>Updates concerning the activities of the congregation will be shown here.</p></div></div>

templates/index.jade
div.content
	div.flex-container.text-justify
		h3 About East Hill
		p The East Hill Church of Christ in Pensacola, Florida is composed of a group of Christians who are striving to practice New Testament Christianity. We accept the Bible as the Word of God, the New Testament as our sole authority and Jesus Christ as our Lord and Savior.
		p This church recognizes Jesus Christ as its head, and is independent of other churches. Our evangelistic work involves teaching efforts in the USA and in foreign countries.
		p We seek to live daily as Jesus taught and to be an influence for good in our various community activities. If you are interested in learning and doing the will of God, we think you would enjoy visiting with us. We invite you to be our guest at your earliest opportunity.
	div.flex-container
		h3 When We Meet
		table.table.table-bordered
			tr
				td Sunday Bible Classes
				td 10:00 A.M. (Classes for every age group, including children)
			tr
				td Sunday Morning Worship
				td 11:00 A.M. (During these services we sing songs of praise to God, observe the Lord's Supper, and return a portion of our monetary blessings to the Lord to support)
			tr
				td Sunday Evening Worship
				td 5:00 P.M. (The work of the church, pray and hear a sermon from the Bible.)
			tr
				td Wednesday Evening Bible Study
				td 7:00 P.M. (Classes for every age group, including children)


	div.flex-container
		h3 Updates
		p Updates concerning the activities of the congregation will be shown here.
